<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Please confirm your %store_name account" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl($store, 'baker/account/confirm/', [_query:[id:$baker.id, key:$baker.confirmation, back_url:$back_url]])":"Account Confirmation URL",
"var this.getUrl($store, 'baker/account/')":"Baker Account URL",
"var baker.email":"Baker Email",
"var baker.name":"Baker Name"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$baker.name}}</p>
<p>{{trans "You must confirm your %baker_email email before you can sign in (link is only valid once):" baker_email=$baker.email}}</p>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                        <a href="{{var this.getUrl($store,'baker/account/confirm/',[_query:[id:$baker.id,key:$baker.confirmation,back_url:$back_url],_nosid:1])}}" target="_blank">{{trans "Confirm Your Account"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
